section {
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.7);
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section form {
  display: flex;
  justify-content: center;
  align-items: center;
}

section button {
  padding: 0.2rem 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}

section form input {
  border: none;
  outline: none;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px #444;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.btnSave {
  background-color: #fff;
  border: 2px solid #6b21a8 !important;
  color: #800ae0;
  border-radius: 0.5rem;
  padding: 0.35rem !important;
  margin: 1rem 0 1rem 1rem;
}

.btnTrash {
  color: rgb(212, 14, 14);
  margin-left: 0.5rem;
}

.btnEdit {
  color: #6b21a8;
}

section h3 {
  font-size: 1.8rem;
}

.complete {
  text-decoration: line-through;
  opacity: 0.7;
}
